# Python
__pycache__/
*.py[cod]
*.egg-info/

# virtual envs
venv/
.env
.venv/

# Byte-compiled / caches
*.pyc

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/
career path 2.0/jobhop_train.csv
